<?xml version="1.0" encoding="utf-8"?>

<entry xmlns="http://www.w3.org/2005/Atom"
       xmlns:app="http://www.w3.org/2007/app">

    <title>{{ title }}</title>

    <content type="text/plain">
{{ content }}
    </content>

    <updated>{{ updated }}</updated>

{% for term in category %}
    <category term="{{ term }}" />
{% endfor %}

    <app:control>
        <app:draft>{{ draft }}</app:draft>
    </app:control>

</entry>